<div class="container ">

  <!-- Outer Row -->
  <div class="row justify-content-center ">



          
           
                  <!-- Nested Row within Card Body -->
                  <div class="row justify-content-center border-0 ">
                      
                      <div class="col-lg-5 shadow-sm my-5">
                          <div class="p-5">
                              <div class="text-center ">
                                <p>  <img style="width:50px" style="height:50px"src="./assets/img/logo.png"> <span><B>EDU MANAGEMENT</B></span></p> 
                                  <h1 class="h4 text-gray-900 mb-5">Iniciar sesión¡</h1>
                              </div>
                              <form class="user ">
                                <a href="index.html" class="btn btn-google  btn-block">
                                  <i class="fab fa-google fa-fw"></i> Continuar con Google
                              </a>
                              <a href="index.html" class="btn btn-facebook  btn-block">
                                  <i class="fab fa-facebook-f fa-fw"></i> Continuar con Facebook
                              </a>
                              <hr>
                                  <div class="form-group">
                                      <input type="email" class="form-control "
                                          id="exampleInputUserName" aria-describedby="emailHelp"
                                          placeholder="UserName...">
                                  </div>
                                  <div class="form-group">
                                      <input type="password" class="form-control "
                                          id="exampleInputPassword" placeholder="Password">
                                  </div>
                                  <div class="form-group">
                                      <div class="custom-control custom-checkbox small">
                                          <input type="checkbox" class="custom-control-input" id="customCheck">
                                          <label class="custom-control-label" for="customCheck">Recordarme</label>
                                      </div>
                                  </div>
                                  <a href="index.html" class="btn btn-primary  btn-block">
                                    Iniciar sesión
                                  </a>
                                
                               
                              </form>
                              <hr>
                              <div class="text-center">
                                  <a class="small" routerLink="/forgot-password">¿Has olvidado tu contraseña?</a>
                              </div>
                              <div class="text-center">
                                  <a class="small" routerLink="/register">¿No tienes una cuenta? Crea tu cuenta!</a>
                              </div>
                          </div>
                      </div>
                 
                       
      </div>
