<div class="container ">

    <!-- Outer Row -->
    <div class="row justify-content-center ">

   
                    <!-- Nested Row within Card Body -->
                                        
                        <div class="col-lg-5 my-5 shadow-lg">
                            <div class="p-5 " >
                                <div class="text-center ">
                                    <p>  <img style="width:50px" style="height:50px"src="./assets/img/logo.png"> <span><B>EDU MANAGEMENT</B></span></p> 
                                    <h1 class="h4 text-gray-900 mb-2">Recuperar contraseña ¡</h1>
                                    <p class="mb-4 text-justify">Te enviaremos instrucciones por correo electrónico para restablecer tu contraseña.</p>
                                </div>
                                <form class="user">
                                    <div class="form-group">
                                        <input type="email" class="form-control "
                                            id="exampleInputEmail" aria-describedby="emailHelp"
                                            placeholder="Enter Email Address...">
                                    </div>
                                    <a href="login.html" class="btn btn-primary btn-block">
                                        Continuar
                                    </a>
                                </form>
                                <hr>
                                <div class="text-center">
                                    <a class="small" routerLink="/register">Crea tu cuenta!</a>
                                </div>
                                <div class="text-center">
                                    <a class="small" routerLink="/login">Regresar!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
          



