.micontenedor{
    background-image: url('https://img.freepik.com/vector-gratis/ninos-edad-escolar-que-asisten-clases-distancia-monitores-pupitres-aula-vista-pantalla_74855-15518.jpg?w=2000');
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
